button {
    background-color: #f7f447;
    color: #3a0903;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #3a0903;
    color: #f7f447;
    border: 2px solid #f7f447;
}